<section>
	<div class="content">
		<table class="dingdan" border="0" cellpadding="0" cellspacing="0" ng-repeat="list in listDate">
				<tr>
					<td width="980px" colspan="5">
						{{list.time}}
					</td>
				</tr>
               
                <tr>
                    <td width="200px">
                        <img ng-src="{{list.imgPic}}" alt="" />
                    </td>
                    <td width="350px">
                		{{list.title}}
                    </td>
                    <td>
                    	<span>￥{{list.price01}}</span><br/><span>￥{{list.price02}}</span>
                    </td>
                    <td>
                    	{{list.num}}
                    </td>
                    <td>
             		   {{list.num*list.price02}}
                    </td>
                </tr>
                
                <tr>
					<td width="980px" colspan="5">
						{{list.address}}
						{{list.username}}
						{{list.phonenumber}}
					</td>
				</tr>
		</table>
		
	</div>
</section>
