<section>
	<div class="container">
		<div class="lunbo">
			<ul class="lunbo_pic">
				<li>
					<a href="#"><img src="img/banner/01.jpg"></a>
				</li>
				<li>
					<a href="#"><img src="img/banner/02.jpg"></a>
				</li>
				<li>
					<a href="#"><img src="img/banner/03.jpg"></a>
				</li>
			</ul>
			<ul class="lunbo_num">
				<li class="num_active"></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
</section>
<!-- 限时推荐 -->
<section>
	<div class="time_limit">
		<div class="title">
			<span class="iconfont">&#xe61f;</span> 限时推荐
		</div>
		<ul class="product_list">
			<li>
				<a href="/product/9012174.html" target="_blank"><img src="img/time_limit/xianshi_1.jpg"></a>
			</li>
			<li>
				<a href="/product/9012112.html" target="_blank"><img src="img/time_limit/xianshi_2.jpg"></a>
			</li>
			<li>
				<a href="/product/1073092.html" target="_blank"><img src="img/time_limit/xianshi_3.jpg"></a>
			</li>
		</ul>
	</div>
</section>
<!-- 5个部分 -->
<section>
	<div class="sort_section">
		<div class="sort_section_el">
			<a href="">
				<img src="img/sort_section/banner_love.jpg" />
				<div class="zhezhao">
					<span>爱情鲜花</span>
					<p>爱情鲜花专区&gt;&gt;</p>
				</div>
			</a>
		</div>
		<div class="sort_section_el">
			<a href="">
				<img src="img/sort_section/banner_elder.jpg" />
				<div class="zhezhao"><span>送长辈鲜花</span>
					<p>送长辈鲜花专区&gt;&gt;</p>
				</div>
			</a>
		</div>
		<div class="sort_section_el">
			<a href="">
				<img src="img/sort_section/banner_song.jpg" />
				<div class="zhezhao"><span>永生花</span>
					<p>永生花专区&gt;&gt;</p>
				</div>
			</a>
		</div>
		<div class="sort_section_el">
			<a href="">
				<img src="img/sort_section/banner_cake.jpg" />
				<div class="zhezhao"><span>蛋糕</span>
					<p>蛋糕专区&gt;&gt;</p>
				</div>
			</a>
		</div>
		<div class="sort_section_el">
			<a href="">
				<img src="img/sort_section/banner_gift.jpg" />
				<div class="zhezhao"><span>礼品</span>
					<p>礼品专区&gt;&gt;</p>
				</div>
			</a>
		</div>
	</div>
</section>
<section>
	<div class="fengexian">

	</div>
</section>

		
<script src="js/lunbo_num.js" type="text/javascript" charset="utf-8"></script>
<script src="js/main.js" type="text/javascript" charset="utf-8"></script>