<section>
	<div id="fullpage">
		<div class="section first">
			<a href="#/yongshenghua/yongshenghuahe"><img src="img/yongsheng/banner_song_01.jpg"/></a>
		</div>
		<div class="section seconds">
			<a href="#/yongshenghua/juxingmeigui"><img src="img/yongsheng/banner_song_02.jpg"/></a>
		</div>
		<div class="section third">
			<a href="#/yongshenghua/xunyicaohuahe"><img src="img/yongsheng/banner_song_03.jpg"/></a>
		</div>
		<div class="section fourth">
			<a href="#/yongshenghua/yongshengpinghua"><img src="img/yongsheng/banner_song_04.jpg"/></a>
		</div>
		<div class="section fifth">
			<a href="#/yongshenghua/teseyongshenghua"><img src="img/yongsheng/banner_song_05.jpg"/></a>
		</div>
	</div>
</section>